.manager-user-container {
  padding: 10px;
  .title {
    font-weight: 600;
    font-size: 20px;
  }
  .manager-user-content {
    .btn-add-user {
      margin: 15px 0px;
    }
  }
}

.modal-add-user {
  .img-preview {
    border: 1px dashed #ccc;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;

    img {
      max-height: 100%;
    }
  }
  .label-upload {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #ccc;
    width: fit-content;
    padding: 3px 11px;
    border-radius: 5px;
    background-color: #eeeeee;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #dddddd;
    }
  }
}
